@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,500;1,300&family=Ubuntu&display=swap');
* {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}

@layer components {
    
    .container {
        @apply w-[90%] m-auto;
    }
    .flexCC{
        @apply flex justify-center items-center;/*Combine utilities into a single class*/
        
    }
    .flexCB{
        @apply flex justify-between items-center;/*Combine utilities into a single class*/
    }
    .navMobile01{
        @apply flex-col bg-slate-400   m-auto absolute w-[100%]  mt-14 mr-0  text-gray-700 text-center ;
    }
    .navMobile02{
        @apply  flex-col border absolute w-[100%] top-1/2 h-[80vh] justify-evenly mr-0 bg-gray-100/80 backdrop-blur-sm;
    }
    .navMobile03{
        @apply border-b-2 w-[90%]   h-10 flex items-center hover:bg-gray-50  ease-in-out rounded-xl  cursor-pointer;
    }
    .movieFiler{
        @apply mr-2 h-7 flexCC;
    }
}